/* ---- Global styles ---- */

/* CSS Reset */
* {
    box-sizing: border-box;
}

/* Body styles. DO NOT REMOVE OR EDIT UNLESS ABSOLUTELY NECESSARY */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
    color: #333;
    padding-top: 30px;
}


/* Disclaimer styles. DO NOT REMOVE OR EDIT UNLESS ABSOLUTELY NECESSARY */
.disclaimer {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5rem;
    z-index: 1000;
    font-weight: bold;
    height: 30px;
}

/* ---- Your custom styles below ---- */

.center {
    width: 80%;    
    margin: 0 auto;
    border: 3px solid #ad2121; 
    padding: 10px;
    text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.top-left-text {
    position: absolute;   
    top: 30px;            
    left: 10px;          
    font-size: 18px;      
    font-weight: bold;    
}

.back-btn{
    display: inline-block;
    padding: 8px 16px;
    background: #e9e9e9;
    border-radius: 8px;
    color: #333;
    text-decoration: none;
    margin: 20px;
    font-weight: 500;
    transition: all 0.2s ease;
}

.back-btn:hover{
  background: #d6d6d6;
}

.container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

    width: 500px;   
}

.page-wrapper {
    height: calc(100vh - 40px); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-left {
    position: absolute;
    left: 20px;    
    top: 50px;    
    margin: 0;     
}

.medicine-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;   
    align-items: center;   
    min-height: 100vh;
    background: #f4f4f4;
    padding-top: 50px; 
}

.search-wrapper {
    display: flex;
    justify-content: center; 
    gap: 10px;
    margin: 15px 0 25px 0;
}

.main-btn {
    display: inline-block;
    padding: 12px 24px;
    background: #e9e9e9;
    border-radius: 8px;
    color: #333;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    transition: background 0.2s ease;
    margin-top: 30px;
}

.main-btn:hover {
    background: #d6d6d6;
}

/* 
Search picture
 */

 .hero-section {
    width:100%;
    text-align: center;
    padding: 80px 0px;
    overflow: hidden;
}

.hero-section img {
    width: 100%;
    display: block;
    margin: 0 auto;
    
  
}

.hero-title {
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
}

